<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyecto Final</title>
    <link rel="shortcut icon" href="./images/Logo1.png" type="image/x-icon" />
    <link rel="stylesheet" href="styles.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
  </head>
  <body>
    <!------------- Navbar ------------->

    <!------------ Home --------------->

    <section class="home" id="home">
      <div class="image">
        <!---- Imagen principal-- -->
        <img src="./images/Arepas.jpg" alt="" />
      </div>

      <!-- Contenido -->
      <div class="content">
        <h3>Los mejores platos del mundo!</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad voluptas
          iusto dolorem mollitia ullam pariatur? Vero reiciendis ullam explicabo
          ipsum, voluptas corrupti consequatur asperiores quia fuga similique
          tempora alias dolorem.
        </p>
        <!-- Boton -->
        <a href="" class="btn">Descubre el mejor sabor!</a>
      </div>
    </section>

    <!---- Ordenes ---->

    <section class="form-container">
      <form action="">
        <div class="inputBox">
          <span>Donde</span>
          <input type="text" placeholder="Buscar" />
        </div>
        <div class="inputBox">
          <span>Fecha</span>
          <input type="date" />
        </div>
        <div class="inputBox">
          <span>Hora</span>
          <input type="time" />
        </div>
        <input type="submit" value="Ordena Ahora!" class="btn" />
      </form>
    </section>

    <script src="../index.js"></script>
  </body>
</html>
