<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyecto Final</title>
    <link rel="shortcut icon" href="./images/Logo1.png" type="image/x-icon" />
    <link rel="stylesheet" href="styles.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.all.min.js"></script>
  </head>
  <body>
    <!------------- Navbar ------------->

    <header class="header">
      <a href="" class="logo"
        ><i class="fas fa-utensils"></i> Comida venezolana</a
      >

      <form action="" class="search-form">
        <input type="search" id="searchBox" placeholder="Buscar" />
        <label for="searchBox" class="fas fa-search"></label>
      </form>
      <div class="icons">
        <div id="search-btn" class="fas fa-search"></div>
        <div id="share-btn" class="fas fa-share"></div>
        <div id="user-btn" class="fas fa-user"></div>
        <div id="menu-btn" class="fas fa-bars"></div>
        <div id="weather"></div>
      </div>

      <nav class="navbar">
        <a href="">Home</a>
        <a href="">Platos</a>
        <a href="">Planes</a>
        <a href="">Blog</a>
        <a href="">Contacto</a>
      </nav>
    </header>

    <!------------ Home --------------->

    <section class="home" id="home">
      <div class="image">
        <!---- Imagen principal-- -->
        <img src="./images/Arepas.jpg" alt="" />
      </div>

      <!-- Contenido -->
      <div class="content">
        <h3>Los mejores platos del mundo!</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad voluptas
          iusto dolorem mollitia ullam pariatur? Vero reiciendis ullam explicabo
          ipsum, voluptas corrupti consequatur asperiores quia fuga similique
          tempora alias dolorem.
        </p>
        <!-- Boton -->
        <a href="" class="btn">Descubre el mejor sabor!</a>
      </div>
    </section>

    <!---- Ordenes ---->

    <section class="form-container">
      <form id="order-form" action="">
        <div class="inputBox">
          <span>Donde</span>
          <input type="text" placeholder="Buscar" required />
        </div>
        <div class="inputBox">
          <span>Fecha</span>
          <input type="date" required />
        </div>
        <div class="inputBox">
          <span>Hora</span>
          <input type="time" required />
        </div>
        <input type="submit" value="Ordena Ahora!" class="btn" />
      </form>
    </section>

    <!----- Los Platos ----->

    <section class="mainFood" id="mainFood">
      <h1 class="heading">Nuestros <span>Platos</span></h1>

      <div class="box-container">
        <div class="box">
          <div class="image">
            <img src="./images/Cachapa.jpg" alt="" />
            <h3><i class="fas fa-utensils"></i> Cachapa con queso</h3>
          </div>
          <div class="content">
            <div class="price">$14.99 <span>$17.99</span></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <a href="#" class="btn">Ordena Ahora!</a>
          </div>
        </div>

        <div class="box">
          <div class="image">
            <img src="./images/Pabellon.jpg" alt="" />
            <h3><i class="fas fa-utensils"></i> Pabellón Criollo</h3>
          </div>
          <div class="content">
            <div class="price">$14.99 <span>$17.99</span></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <a href="#" class="btn">Ordena Ahora!</a>
          </div>
        </div>

        <div class="box">
          <div class="image">
            <img src="./images/Pastelitos1.jpg" alt="" />
            <h3><i class="fas fa-utensils"></i> Pastelitos rellenos</h3>
          </div>
          <div class="content">
            <div class="price">$14.99 <span>$17.99</span></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <a href="#" class="btn">Ordena Ahora!</a>
          </div>
        </div>

        <div class="box">
          <div class="image">
            <img src="./images/Tequeños.jpg" alt="" />
            <h3><i class="fas fa-utensils"></i> Tequeños rellenos</h3>
          </div>
          <div class="content">
            <div class="price">$14.99 <span>$17.99</span></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <a href="#" class="btn">Ordena Ahora!</a>
          </div>
        </div>

        <div class="box">
          <div class="image">
            <img src="./images/Patacon.jpg" alt="" />
            <h3><i class="fas fa-utensils"></i> Patacón</h3>
          </div>
          <div class="content">
            <div class="price">$14.99 <span>$17.99</span></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <a href="#" class="btn">Ordena Ahora!</a>
          </div>
        </div>

        <div class="box">
          <div class="image">
            <img src="./images/Empanadas.jpg" alt="" />
            <h3><i class="fas fa-utensils"></i> Empanadas rellenas</h3>
          </div>
          <div class="content">
            <div class="price">$14.99 <span>$17.99</span></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <a href="#" class="btn">Ordena Ahora!</a>
          </div>
        </div>

        <div class="box">
          <div class="image">
            <img src="./images/Hallacas.jpg" alt="" />
            <h3><i class="fas fa-utensils"></i> Hallacas</h3>
          </div>
          <div class="content">
            <div class="price">$14.99 <span>$17.99</span></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <a href="#" class="btn">Ordena Ahora!</a>
          </div>
        </div>

        <div class="box">
          <div class="image">
            <img src="./images/Tostones.jpg" alt="" />
            <h3><i class="fas fa-utensils"></i> Tostones</h3>
          </div>
          <div class="content">
            <div class="price">$14.99 <span>$17.99</span></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <a href="#" class="btn">Ordena Ahora!</a>
          </div>
        </div>

        <div class="box">
          <div class="image">
            <img src="./images/Arepas1.jpg" alt="" />
            <h3><i class="fas fa-utensils"></i> Arepas rellenas</h3>
          </div>
          <div class="content">
            <div class="price">$14.99 <span>$17.99</span></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <a href="#" class="btn">Ordena Ahora!</a>
          </div>
        </div>
      </div>
    </section>

    <!------- Planes ------->
    <section class="pricing" id="pricing">
      <h1 class="heading">Nuestros <span>Planes</span></h1>

      <div class="box-container">
        <div class="box">
          <h3>Plan Basico</h3>
          <div class="price">
            <span>$</span>
            <span class="amount">30</span>
            <span>/mo</span>
          </div>

          <ul>
            <li>10 Dias</li>
            <li>10 Dias</li>
            <li>10 Dias</li>
            <li>10 Dias</li>
            <li>10 Dias</li>
          </ul>
          <a href="" class="btn">Elegir plan</a>
        </div>

        <div class="box">
          <h3>Plan Basico</h3>
          <div class="price">
            <span>$</span>
            <span class="amount">30</span>
            <span>/mo</span>
          </div>

          <ul>
            <li>10 Dias</li>
            <li>10 Dias</li>
            <li>10 Dias</li>
            <li>10 Dias</li>
            <li>10 Dias</li>
          </ul>
          <a href="" class="btn">Elegir plan</a>
        </div>

        <div class="box">
          <h3>Plan Basico</h3>
          <div class="price">
            <span>$</span>
            <span class="amount">30</span>
            <span>/mo</span>
          </div>

          <ul>
            <li>10 Dias</li>
            <li>10 Dias</li>
            <li>10 Dias</li>
            <li>10 Dias</li>
            <li>10 Dias</li>
          </ul>
          <a href="" class="btn">Elegir plan</a>
        </div>
      </div>
    </section>

    <!--========== Contacto =========-->

    <section class="contact" id="contact">
      <h1 class="heading"><span>Contáctanos</span></h1>

      <form action="">
        <div class="inputBox">
          <input type="text" placeholder="Nombre" />
          <input type="email" placeholder="Email" />
        </div>

        <div class="inputBox">
          <input type="number" placeholder="+58(XXX)-XXXXXXX" />
          <input type="text" placeholder="Asunto" />
        </div>
        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          placeholder="Escribe tu mensaje"
        ></textarea>
        <input type="submit" value="Enviar Mensaje" class="btn" />
      </form>
    </section>

    <!--============= Blog ============-->
    <section class="blogs" id="blogs">
      <h1 class="heading">Conoce <span>Más</span></h1>

      <div class="box-container">
        <div class="box">
          <div class="image">
            <img src="./images/Arepas.jpg" alt="" />
          </div>
          <div class="content">
            <h3>Qué son las arepas y por qué son tan populares?</h3>
            <a href="" class="btn">Aprende Más</a>
            <div class="icons">
              <a href=""><i class="fas fa-calendar"></i>24 de Marzo del 2023</a>
              <a href=""
                ><i class="fas fa-user"></i> escrito por Julio Mijares</a
              >
            </div>
          </div>
        </div>

        <div class="box">
          <div class="image">
            <img src="./images/Arepas.jpg" alt="" />
          </div>
          <div class="content">
            <h3>Qué son las arepas y por qué son tan populares?</h3>
            <a href="" class="btn">Aprende Más</a>
            <div class="icons">
              <a href=""><i class="fas fa-calendar"></i>24 de Marzo del 2023</a>
              <a href=""
                ><i class="fas fa-user"></i> escrito por Julio Mijares</a
              >
            </div>
          </div>
        </div>

        <div class="box">
          <div class="image">
            <img src="./images/Arepas.jpg" alt="" />
          </div>
          <div class="content">
            <h3>Qué son las arepas y por qué son tan populares?</h3>
            <a href="" class="btn">Aprende Más</a>
            <div class="icons">
              <a href=""><i class="fas fa-calendar"></i>24 de Marzo del 2023</a>
              <a href=""
                ><i class="fas fa-user"></i> escrito por Julio Mijares</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--======= Footer =========-->

    <section class="footer">
      <div class="box-container">
        <div class="box">
          <h3>Nuestras sucursales</h3>
          <a href=""><i class="fas fa-map-marker-alt"></i>Caracas</a>
          <a href=""><i class="fas fa-map-marker-alt"></i>Caracas</a>
          <a href=""><i class="fas fa-map-marker-alt"></i>Caracas</a>
          <a href=""><i class="fas fa-map-marker-alt"></i>Caracas</a>
        </div>

        <div class="box">
          <h3>Links</h3>
          <a href=""><i class="fas fa-chevron-right"></i>Home</a>
          <a href=""><i class="fas fa-chevron-right"></i>Caracas</a>
          <a href=""><i class="fas fa-chevron-right"></i>Caracas</a>
          <a href=""><i class="fas fa-chevron-right"></i>Caracas</a>
        </div>

        <div class="box">
          <h3>Información de Contacto</h3>
          <a href=""><i class="fas fa-phone"></i>+58 1243125</a>
          <a href=""><i class="fas fa-phone"></i>Caracas</a>
          <a href=""><i class="fas fa-envelope"></i>Caracas</a>
          <a href=""><i class="fas fa-map-marker-alt"></i>Caracas</a>
        </div>

        <div class="box">
          <h3>Síguenos!</h3>
          <a href=""><i class="fab fa-facebook"></i>julioocmc</a>
          <a href=""><i class="fab fa-instagram"></i>julioocmc</a>
          <a href=""><i class="fab fa-twitter"></i>juliomijaress</a>
        </div>
      </div>

      <!--==== copyright ====-->

      <div class="rights">
        Creado por <span>Julio Mijares</span> | Todos los derechos reservados
      </div>
    </section>

    <script src="../index.js"></script>
  </body>
</html>
